<template>
    <v-footer dark height="auto">
        <v-card class="flex" flat tile>
            <v-card-actions class="grey darken-3 justify-center">
                &copy;2019&nbsp;<strong> Join Tecnologia</strong>
            </v-card-actions>
        </v-card>
    </v-footer>
</template>
