<template>
    <div>
        <v-navigation-drawer app v-model="drawer" clipped :mini-variant.sync="mini" hide-overlay stateless>
            <v-list>
                <v-list-tile :to="item.route" v-for="item in items" :key="item.title">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app dark clipped-left color="cyan lighten-2">
            <v-toolbar-side-icon @click.prevent="drawer = !drawer; mini = !mini"></v-toolbar-side-icon>
            <v-toolbar-title>
                <v-toolbar-items class="hidden-sm-and-down">
                    <img style="margin-top: 10px;" src="http://sgp.jointecnologia.com.br/resources/images/logo_easy.png">
                </v-toolbar-items>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn flat @click="logout"><v-icon>exit_to_app</v-icon>Sair</v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </div>
</template>

<script>
import LoginInterceptors from '@/components/Login/Interceptor'
export default {
  data () {
    return {
      drawer: true,
      items: [
        { title: 'Produtos', icon: 'shopping_basket', route: '/produtos' },
        { title: 'Categorias', icon: 'category', route: '/categorias' }
      ],
      mini: true,
      right: null
    }
  },
  methods: {
    logout: function () {
      LoginInterceptors.logout()
    }
  }
}
</script>
