<template>
  <div id="app">
    <dtemplate/>
  </div>
</template>

<script>
import dtemplate from '@/template/default'

export default {
  name: 'App',
  components: {
    dtemplate
  },
  styles: [
    // require('materialize-css/dist/css/materialize.min.css')
  ]
}
</script>
