<div class="row">
    <div class="content-header">
        <h1 class="font-weight-thin">Categoria <small>{{ sub_title }}</small></h1>
        <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
    </div>

    <div class="card col s12">
        <v-layout>
            <v-flex sm12>
                <v-hover>
                    <v-card>
                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">Dados da categoria</h3>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            <form class="row" autocomplete="off" @submit.prevent="save">
                                <v-form>
                                    <v-container>
                                        <v-layout row wrap>
                                            <v-flex xs12 sm6 md5>
                                                <v-text-field
                                                        v-model="category.nome_categoria"
                                                        label="Como você prefere identificar esta categoria?"
                                                        placeholder="Placeholder"
                                                        v-validate="'required|min:3'"
                                                        :error-messages="errors.collect('category')"
                                                        data-vv-name="category"
                                                        required
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-form>
                                <div class="card-action">
                                    <v-btn dark @click="navigate('/categorias')">
                                        <v-icon dark left>arrow_back</v-icon>Voltar
                                    </v-btn>
                                    <v-btn color="light-blue lighten-1" dark type="submit">
                                        Salvar <v-icon dark left>done</v-icon>
                                    </v-btn>
                                </div>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-hover>
            </v-flex>
        </v-layout>
    </div>
</div>