<template>
    <v-container grid-list-lg >
        <v-layout row wrap>
            <v-flex xs3 v-for="category in categories" :key="category.id">
                <v-card color="blue-grey darken-2" class="white--text">
                    <v-card-title primary-title>
                        <div class="headline">{{ category.nome_categoria }}</div>
                    </v-card-title>
                    <v-card-actions>
                        <v-btn flat dark :to="'/categorias/' + category.id">Ver +</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-btn fab dark small color="cyan" @click="navigate('/categorias/novo')">
            <v-icon dark>add</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
import _ from 'lodash'
export default {
  data () {
    return {
      items: [
        {
          text: 'Página Inicial',
          disabled: false,
          href: '/'
        },
        {
          text: 'Categorias',
          disabled: true
        }
      ]
    }
  },
  methods: {
    goTo: function (id) {
      this.$router.push('/categorias/' + id)
    },
    navigate: function (route) {
      this.$router.push(route)
    }
  },
  computed: {
    categories () {
      let items = this.$store.state.category.categoryList.data

      return _.orderBy(items, ['nome_categoria'], ['asc'])
    }
  },
  created () {
    this.$store.dispatch('getCategories')
  }
}
</script>
