<template>
    <div class="row">
        <div class="content-header">
            <h1>Categoria <small>Detalhes</small></h1>
            <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
        </div>
        <div class="card col s12">
            <v-layout>
                <v-flex xs12 sm6>
                    <v-hover>
                    <v-card>
                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">{{category.nome_categoria}}</h3>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            <span><p>Número da série: {{category.id}} </p>
                                   <p>Número da série: {{category.created_at | formatar-data}} </p></span>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn fab dark small @click.prevent="navigate(category.id)" color="cyan">
                                <v-icon dark>edit</v-icon>
                            </v-btn>
                            <v-btn  fab dark small @click.prevent="remove(category.id)" color="error">
                                <v-icon dark>remove</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                    </v-hover>
                </v-flex>
            </v-layout>
        </div>
    </div>
</template>

<script>
export default {
  data: function () {
    return {
      items: [
        {
          text: 'Página Inicial',
          disabled: false,
          href: '/'
        },
        {
          text: 'Categorias',
          disabled: false,
          href: '/categorias'
        },
        {
          text: 'Detalhes',
          disabled: true
        }
      ]
    }
  },
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeCategory', id).then(() => {
        this.$router.push('/categorias')
      })
    },
    navigate: function (id) {
      this.$router.push('/categorias/' + id + '/editar')
    }
  },
  computed: {
    category () {
      return this.$store.state.category.categoryView
    }
  },
  created () {
    this.$store.dispatch('getCategory', this.$route.params.id)
  }
}
</script>
