<template>
    <v-app>
        <tem-header/>
        <v-content>
            <v-container>
                <router-view/>
            </v-container>
        </v-content>
        <tem-footer/>
    </v-app>
</template>

<script>
import Header from '@/template/partials/Header'
import Footer from '@/template/partials/Footer'

export default {
  name: 'App',
  components: {
    'tem-header': Header,
    'tem-footer': Footer
  }
}
</script>
