<template>
    <div class="row" id="login">
        <v-app id="inspire">
            <v-content>
                <v-container fluid fill-height>
                    <v-layout align-center justify-center>
                        <v-flex xs12 sm8 md4>
                            <v-card class="elevation-12">
                                <v-toolbar dark color="primary">
                                    <v-toolbar-title>Join Tecnologia</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                </v-toolbar>
                                <v-card-text>
                                    <v-form>
                                        <v-text-field v-model="user.username" :clearable="true" prepend-icon="person" name="login" label="E-mail" type="text"></v-text-field>
                                        <v-text-field v-model="user.password" prepend-icon="lock" name="password" label="Senha" id="password" type="password"></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn @click="login" color="primary">Login</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'login',
  data: function () {
    return {
      user: {}
    }
  },
  methods: {
    login () {
      let data = {
        grant_type: 'password',
        client_id: process.env.CLIENT_ID,
        client_secret: process.env.CLIENT_SECRET,
        username: this.user.username,
        password: this.user.password,
        scope: ''
      }

      Vue.http.post('oauth/token', data).then(res => {
        localStorage['token'] = JSON.stringify(res.body)
        window.authenticate = true
        this.$router.push('/')
      })
    }
  }
}
</script>

<style>
    #login {
        background-color: black !important;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 99999;
        padding: 20px;
    }

    #inspire{
        background-image: url("https://images.unsplash.com/photo-1497733942558-e74c87ef89db?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=");
    }
</style>
