<div class="row">
    <div class="content-header">
        <h1>Produtos <small>{{ sub_title }}</small></h1>
        <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
    </div>

    <div class="card col s12">
        <v-layout>
            <v-flex sm12>
                <v-hover>
                    <v-card>
                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">Dados do produto</h3>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            <form class="row" autocomplete="off" @submit.prevent="save">
                                <v-form>
                                    <v-container>
                                        <v-layout row wrap>
                                            <v-flex xs12 sm6 md5>
                                                <v-text-field
                                                        v-model="product.nome_produto"
                                                        label="Como você prefere identificar este produto?"
                                                        placeholder="Título do produto"
                                                        v-validate="'required'"
                                                        :error-messages="errors.collect('product')"
                                                        data-vv-name="product"
                                                        required
                                                ></v-text-field>
                                            </v-flex>

                                            <v-flex xs12 sm6 d-flex>
                                                <v-select
                                                        v-model="product.id_categoria_produto"
                                                        :items="categories.data"
                                                        label="Qual categoria você vai escolher?"
                                                        placeholder="Título do produto"
                                                        item-value="id"
                                                        item-text="nome_categoria"
                                                        v-validate="'required'"
                                                        :error-messages="errors.collect('category')"
                                                        data-vv-name="category"
                                                        required
                                                ></v-select>
                                            </v-flex>

                                            <v-flex xs12 sm6 md5>
                                                <v-text-field
                                                        v-model="product.valor_produto"
                                                        label="Qual o valor inicial deste produto?"
                                                        placeholder="Valor inicial"
                                                        v-validate="'required'"
                                                        :error-messages="errors.collect('balance')"
                                                        data-vv-name="balance"
                                                        required
                                                ></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                </v-form>

                                <div class="card-action">
                                    <v-btn dark @click="navigate('/produtos')">
                                        <v-icon dark left>arrow_back</v-icon>Voltar
                                    </v-btn>
                                    <v-btn color="light-blue lighten-1" dark type="submit">
                                        Salvar <v-icon dark left>done</v-icon>
                                    </v-btn>
                                </div>
                            </form>
                        </v-card-text>
                    </v-card>
                </v-hover>
            </v-flex>
        </v-layout>
    </div>
</div>