<template>
    <div class="row">
        <div class="content-header">
            <h1>Produtos</h1>
            <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
        </div>

        <div class="card col s12">
            <div id="pageTable">
                <v-container grid-list-xl fluid>
                    <v-layout row wrap>
                        <v-flex lg12>
                            <v-card>
                                <v-toolbar card color="white">
                                    <v-text-field
                                            flat
                                            solo
                                            prepend-icon="search"
                                            placeholder="Pesquisar produto..."
                                            v-model="search"
                                            hide-details
                                            class="hidden-sm-and-down"
                                    ></v-text-field>
                                </v-toolbar>
                                <v-divider></v-divider>
                                <v-card-text class="pa-0">
                                    <v-data-table
                                            :headers="datatable_info.headers"
                                            :items="productsOrded"
                                            :search="search"
                                            :pagination.sync="pagination"
                                            class="elevation-1"
                                            hide-actions
                                            item-key="nome_produto"
                                            v-model="datatable_info.selected">
                                        <template slot="items" slot-scope="props">
                                            <td>{{props.item.id}}</td>
                                            <td>{{props.item.nome_produto}}</td>
                                            <td>{{props.item.category.nome_categoria}}</td>
                                            <td>{{props.item.data_cadastro | formatar-data}}</td>
                                            <td>
                                                <v-btn depressed outline icon fab dark title="Editar" color="primary" small @click="goTo(props.item.id)"><v-icon>edit</v-icon></v-btn>
                                                <v-btn depressed outline icon fab dark title="Excluir" color="pink" small @click="remove(props.item.id)"><v-icon>delete</v-icon></v-btn>
                                            </td>
                                        </template>
                                    </v-data-table>
                                    <div class="text-xs-center pt-2">
                                        <v-pagination color="cyan lighten-2" v-model="pagination.page" :length="pages"></v-pagination>
                                    </div>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-btn fab dark small color="cyan" @click="navigate('/produtos/novo')">
                    <v-icon dark>add</v-icon>
                </v-btn>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
export default {
  name: 'products',
  data: function () {
    return {
      search: '',
      pagination: {},
      datatable_info: {
        selected: [],
        headers: [
          {
            text: 'Série',
            value: 'serie'
          },
          {
            text: 'Produto',
            value: 'nome_produto'
          },
          {
            text: 'Categoria',
            value: 'categoria'
          },
          {
            text: 'Data de criação',
            value: 'data_criacao'
          },
          {
            text: 'Ações',
            value: ''
          }
        ]
      },
      items: [
        {
          text: 'Página Inicial',
          disabled: false,
          href: '/'
        },
        {
          text: 'Produtos',
          disabled: true
        }
      ]
    }
  },
  methods: {
    goTo: function (id) {
      this.$router.push('/produtos/' + id + '/editar')
    },
    remove: function (id) {
      this.$store.dispatch('removeProduct', id).then(() => {
        this.$store.dispatch('getProducts')
      })
    },
    navigate: function (route) {
      this.$router.push(route)
    }
  },
  computed: {
    products () {
      return this.$store.state.product.productList
    },
    productsOrded () {
      let items = this.$store.state.product.productList.data

      return _.orderBy(items, ['nome_produto'], ['asc'])
    },
    pages () {
      if (this.pagination.rowsPerPage === null ||
          this.pagination.totalItems === null
      ) return 0

      if (this.products.total !== undefined) return Math.ceil(this.products.total / this.pagination.rowsPerPage)
    }
  },
  created () {
    this.$store.dispatch('getProducts')
  }
}
</script>

<style>
 #action {
     cursor: pointer;
 }
</style>
