<template>
    <v-layout row wrap>

        <div class="content-header">
            <h4>Produtos <small>Detalhes</small></h4>
            <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
        </div>

        <div class="card col s12">
            <div class="card-content">
                <div class="row">
                    <div class="col s9">
                        <div class="card-title">Detalhes da produto</div>
                        <p>Produto: {{product.nome_produto}}  </p>
                        <p>Número da série: {{product.id}} </p>
                        <p>Valor: {{product.valor_produto | formatar-moeda}} </p>
                        <p>Data de cadastro: {{product.data_cadastro | formatar-data}} </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a :href="'#/produtos/' + product.id + '/editar'" class="btn cyan lighten-2">Editar</a>
                        <a href="" class="btn red darken-4" @click.prevent="remove(product.id)">Excluir</a>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a href="#/produtos">Voltar</a>
            </div>
        </div>
    </v-layout>
</template>

<script>
export default {
  data: function () {
    return {
      items: [
        {
          text: 'Página Inicial',
          disabled: false,
          href: '/'
        },
        {
          text: 'Produtos',
          disabled: false,
          href: '/produtos'
        },
        {
          text: 'Detalhes',
          disabled: true
        }
      ]
    }
  },
  methods: {
    remove: function (id) {
      this.$store.dispatch('removeProduct', id).then(() => {
        this.$router.push('/produtos')
      })
    }
  },
  computed: {
    product () {
      return this.$store.state.product.productView
    }
  },
  created () {
    this.$store.dispatch('getProduct', this.$route.params.id)
  }
}
</script>
